
/* Your CSS Code here. */

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

#demoBox {
	width: 300px;
	border: 15px solid rgba(0,0,255);
	padding: 50px;
	margin:20px;
	background-color: lightblue;
		
}